<div class="container">
    <div class="row">
            <div class="col-md-12 mx-auto">
                    <div class="form-row">
                            <div class="form-group col-md-4">
                              <input type="text" [(ngModel)]="searchByNameText" class="form-control" mdbInput placeholder="Filter By Name">
                            </div>
                            <div class="form-group col-md-4">
                                <select class="form-control" [(ngModel)]="searchByStateText">
                                    <option value="" disabled selected>Filter By State</option> 
                                    <option *ngFor="let state of states">{{state}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <input type="reset" class="form-control btn btn-primary mb-2" value="Reset" (click)="reset()">
                            </div>
                    </div>
                    <table class="table table-fixed table-dark table-striped">
                            <thead>
                                    <tr>
                                        <th scope="col" class="col-2">Name</th>
                                        <th scope="col" class="col-2">Website</th>
                                    </tr>
                                </thead>
                            <tbody>
                                <tr mdbTableCol *ngFor="let brewery of breweries.slice(0, 100) | breweryFilter: searchByNameText | filter: searchByStateText">
                                    <td class="col-2">
                                        {{brewery.name}}<br>
                                        <small>{{brewery.city}},{{brewery.state}}</small>
                                    </td>
                                    <td class="col-2">{{brewery.website_url}}</td>
                                </tr>
                            </tbody>
                    </table>
                    <div class="bg-info" style="height: 50px;">
                            <div class="col-md-4 text-white">
                                Number of results: {{breweries.length}} 
                            </div>
                    </div>
            </div>

    </div>

</div>
